<div class="m-4 p-4">
  <h2 class="text-lg lg:text-3xl font-bold capitalize">add a new product</h2>
</div>

<section class="bg-white dark:bg-[#19191a] m-4 p-4 rounded">
  <!-- <h1>Dynamic Form Demo</h1> -->

  <div class="w-full lg:w-[75%]">

    <app-dynamic-form [fields]="fields" (submitted)="onSubmit($event)" />
    
    <lib-button 
      type="submit"
      form="dynamicForm"
      /* [disabled]="formSubmited() || form.invalid" */
      /* [loading]="formSubmited()" */
      text="Add Product"
      styleClass="text-white dark:text-black bg-primary px-3 py-2 lg:px-6 rounded-lg text-sm lg:text-lg w-full mt-42 disabled:bg-zinc-500!">
  </lib-button>
</div>
</section>
