<div class="field-wrapper">
  @if (field().label) {
    <label
      [for]="field().name"
      [class]="labelClasses()"
    >
      {{ field().label }}

      @if (field().validators?.required) {
        <span class="text-red-600" aria-hidden="true">*</span>
      }
    </label>
  }

  <ng-content />

  <lib-field-error
    [control]="control()"
    [label]="field().label"
    /* [customMessages]="{
      required: (e) => 'validation.required',
    }" */
  ></lib-field-error>
  <!-- @if (errorMessage) {
    <p class="field-error" [id]="field().name + '-error'" role="alert">
      {{ errorMessage | translate }}
    </p>
  } -->
</div>
