<form id="dynamicForm" [formGroup]="form" (ngSubmit)="submit()" novalidate>

  @for (item of fields(); track $index) {

    @if (isGroup(item)) {

      <div [class]="item.class ?? ''">

        @for (field of item.fields; track field.name) {
          <app-dynamic-field-host
            [field]="field"
            [control]="getControl(field)"
          />
        }

      </div>
    } @else {

      <div class="mb-4">
        <app-dynamic-field-host [field]="item" [control]="getControl(item)" />
      </div>
    }
  }
</form>
