<div class="bg-white dark:bg-[#19191a] m-4 p-4 rounded">
  <div class="flex justify-between items-center">
    <h2 class="text-lg lg:text-3xl font-bold capitalize">
      {{ 'categories.title' | translate }}
    </h2>

    <lib-button
      [routerLink]="['create']"
      [text]="'+ ' + ('categories.add_new_category' | translate)"
      styleClass="text-white dark:text-black bg-primary px-3 py-2 lg:px-6 rounded-lg text-sm lg:text-lg"
    >
    </lib-button>
  </div>

  <app-table [cols]="cols" [actions]="actions" [data]="categories()" [loading]="formSubmited()">
  </app-table>
</div>

<!-- Paginator -->
@if (categories().length) {
  <div class="flex justify-center overflow-x-auto py-2 mb-9">
    <lib-paginator [pagination]="paginator()" (pageChange)="onPageChange($event)"></lib-paginator>
  </div>
}

<p-confirmdialog [style]="{ width: '450px' }" />
